---
version: '3.7'
services:
  app:
    container_name: '{{ alertmanager_service_name }}-app'
    image: '{{ alertmanager_cont_image }}'
    user: 'root'
    restart: 'always'
    ports:
      - '0.0.0.0:{{ alertmanager_webui_port }}:{{ alertmanager_webui_port }}' # Web UI
      - '0.0.0.0:{{ alertmanager_cluster_port }}:{{ alertmanager_cluster_port }}/tcp' # Cluster
      - '0.0.0.0:{{ alertmanager_cluster_port }}:{{ alertmanager_cluster_port }}/udp' # Cluster
    volumes:
      - '{{ alertmanager_service_path }}/conf/alertmanager.yml:/etc/alertmanager.yml:ro'
      - '{{ alertmanager_service_path }}/conf/amtool.yml:/etc/amtool/config.yml:ro'
      - '{{ alertmanager_service_path }}/data:/data'
      - '/certs:/certs'
    command:
      - '--storage.path=/data'
      - '--config.file=/etc/alertmanager.yml'
      - '--log.level={{ alertmanager_cont_log_lvl }}'
      - '--web.external-url={{ alertmanager_url }}'
      - '--cluster.advertise-address={{ ansible_local.wireguard.vpn_ip }}:{{ alertmanager_cluster_port }}'
      - '--cluster.listen-address=0.0.0.0:{{ alertmanager_cluster_port }}'
      - '--cluster.probe-timeout={{ alertmanager_probe_timeout }}'
      - '--cluster.probe-interval={{ alertmanager_probe_interval }}'
{% for peer in alertmanager_cluster_peers %}
      - '--cluster.peer={{ peer.ServiceAddress }}:{{ alertmanager_cluster_port }}' # {{ peer.Node }}
{% endfor %}
{% if alertmanager_oauth_id %}

  oauth:
    container_name: '{{ alertmanager_service_name }}-oauth'
    image: '{{ alertmanager_oauth_cont_image }}'
    user: 'root'
    restart: 'always'
    ports:
      - '127.0.0.1:{{ alertmanager_oauth_cont_port }}:{{ alertmanager_oauth_cont_port }}' # Web UI
    command: |
      --email-domain='*'
      --provider='github'
      --github-org='{{ alertmanager_oauth_gh_org | mandatory }}'
{% if alertmanager_oauth_gh_teams %}
      --github-team='{{ alertmanager_oauth_gh_teams | join(",") }}'
{% endif %}
      --cookie-domain='{{ alertmanager_domain | mandatory }}'
      --cookie-secret='{{ alertmanager_oauth_cookie_secret | mandatory }}'
      --client-id='{{ alertmanager_oauth_id | mandatory }}'
      --client-secret='{{ alertmanager_oauth_secret | mandatory }}'
      --redirect-url='https://{{ alertmanager_domain }}/oauth2/callback'
      --http-address='0.0.0.0:{{ alertmanager_oauth_cont_port | mandatory }}'
      --upstream='http://app:{{ alertmanager_webui_port }}/'
      --request-logging=false
{% endif %}
